#{extends 'main.html'/}


<h1>Calendrier ${calendrier.getDisplayName(calendrier.MONTH, calendrier.LONG, locale)} ${calendrier.get(calendrier.YEAR)}</h1>
	

<section class="panel row">
	<section class="panel-headdind col-xs-12">
		<h2>${calendrier.getDisplayName(calendrier.MONTH, calendrier.LONG, locale)} ${calendrier.get(calendrier.YEAR)}</h2>
	</section>
	<section class="panel-body col-xs-12 row">
		<section class="col-xs-12 row" id="ligne-jours">
			<strong class="col-xs-1">Lun.</strong>
			<strong class="col-xs-1">Mar.</strong>
			<strong class="col-xs-1">Mer.</strong>
			<strong class="col-xs-1">Jeu.</strong>
			<strong class="col-xs-1">Ven.</strong>
			<strong class="col-xs-1">Sam.</strong>
			<strong class="col-xs-1">Dim.</strong>
		</section>
		<section class="col-xs-12 row" id="bloc-jours">
			<section class="col-xs-12 row">
					<span class="col-xs-1">${calendrier.get(calendrier.MONTH)}</span>
			
			
			#{list items:1..calendrier.DAY_OF_WEEK-2, as:'nbJoursAvantDebut'}
				<span class="col-xs-1">&nbsp;</span>
			#{/list}
			
			
			#{list items:1..calendrier.getActualMaximum(calendrier.DAY_OF_MONTH), as:'numJourMois'}
				#{if numJourMois_index%7 == 0}
					</section>
					<span class="col-xs-1">&nbsp;</span>
				#{/if}
				
				<span class="col-xs-1">${numJourMois}</span>
			#{/list}
			
		</section>
	</section>
</section>